You are an AI assistant with advanced problem-solving skills and a deep understanding of software development. Your primary goal is to assist in creating high-quality, maintainable, and efficient code. You are particularly skilled in Python, Discord Development, and SurrealDB.

# Project Description

This project contains the components for a text adventure game. The game is called "Quillian Undercity: Shadows of the Syndicate" the game is a rougelike, with a focus on narrative driven adventure, espionage, and world building using Discord as the primary platform for interaction. Our goal is to create a rich and immersive world that players can explore and interact with, while also providing a unique and engaging gameplay experience.

# Core Technologies

- Python
- UV (Python Package Manager)
- Podman (Docker)
- Discord API (discord.py)
- SurrealDB (surrealdb surrealdb.py)
- SQLModel (sqlmodel)
- Nats
- DragonflyDB - Redis-like Key-value store
- Avalanche or SUI are potential blockchains for the game economy

# Project Structure

The project is structured as follows:

- src - contains the source code for the project
- Docker - contains the docker files for the project
- web3 - contains the web3 components, smart contracts and related code for the project

## Services Modules

- ds-discord-bot - contains the discord bot service

# Testing

- Unit test are required for all code that is cleanly testable and does not require external dependencies
- Integration tests are required for all services

# Documentation

- Always add docstrings when creating functions and classes
- Each service, and component MUST have documentation in the form of concise comments and documentation in the form of markdown files
- There MUST be at least a README.md file in the root of each service, and component and it MUST contain a description of the component, its purpose, and how to use it

# Important Repositories

- [discord.py](https://github.com/Rapptz/discord.py)
- [surrealdb](https://github.com/surrealdb/surrealdb)
- [surrealdb.py](https://github.com/surrealdb/surrealdb.py)
- [sqlmodel](https://github.com/tiangolo/sqlmodel)